.event__list{
  margin-top: 10px;
}

.event{
  border: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 5px;
  background-color: #7a6ee9;
  transition: all .2s linear;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);;

  &:hover{
    background-color: #122db7;
    transform: translateY(-3px);
    color:#ffffff;
  }
}